<!doctype html>
<!--[if IE 9]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{assets}}css/app.css" />
  <link href='http://fonts.googleapis.com/css?family=Karma:400,300,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'>
  <script src="{{assets}}js/modernizr.js"></script>
</head>

<body>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <div class="nav-icon-and-logo">
        <div>
          <a class="left-off-canvas-toggle" href="#"><img class="menu-icon" src="assets/images/menu-icon.svg"></a>
        </div>
        <div class="logo-container">
          <a href="#"><img src="assets/images/tOS_logo.svg"></a>
        </div>
      </div>
      <!-- OFF CANVAS MENU -->
      <aside class="left-off-canvas-menu">
        <!-- NAV -->
        <form class="search">
          <div class="row">
            <div class="medium-12 columns">
              <input type="search" placeholder="Search The Open Standard">
            </div>
          </div>
        </form>
        <ul class="nav">
          <li class="nav-item">
            <div class="topics-tag-normal live">
              <a href="#">Live</a>
            </div>
            <ul class="nav-item-list">
              <li><a href="#">Apple forces users to download a U2 album</a></li>
              <li><a href="#">Girl Code LA showes women how to get started in tech</a></li>
              <li><a href="#">Facebook's tracking more than you think</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="topics-tag-normal learn">
              <a href="#">Learn</a>
            </div>
            <ul class="nav-item-list">
              <li><a href="#">Dropbox hides 80% of its government data requests</a></li>
              <li><a href="#">Facebook's tracking more than you think</a></li>
              <li><a href="#">Apple forces users to download a U2 album</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="topics-tag-normal innovate">
              <a href="#">Innovate</a>
            </div>
            <ul class="nav-item-list">
              <li><a href="#">Jon Stewart is confused about Internet of Things</a></li>
              <li><a href="#">Apple forces users to download a U2 album</a></li>
              <li><a href="#">Girl Code LA showes women how to get started in tech</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="topics-tag-normal engage">
              <a href="#">Engage</a>
            </div>
            <ul class="nav-item-list">
              <li><a href="#">Dropbox hides 80% of its government data requests</a></li>
              <li><a href="#">Jon Stewart is confused about Internet of Things</a></li>
              <li><a href="#">Apple forces users to download a U2 album</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="topics-tag-normal opinion">
              <a href="#">Opinion</a>
            </div>
            <ul class="nav-item-list">
              <li><a href="#">Girl Code LA showes women how to get started in tech</a></li>
              <li><a href="#">Facebook's tracking more than you think</a></li>
              <li><a href="#">Dropbox hides 80% of its government data requests</a></li>
            </ul>
          </li>
          <li>
            <ul class="social-icon-links inline-list">
              <li><a href="#"><img src="assets/images/social-twitter.svg"></a></li>
              <li><a href="#"><img src="assets/images/social-facebook.svg"></a></li>
              <li><a href="#"><img src="assets/images/social-google-plus.svg"></a></li>
            </ul>
          </li>
        </ul>

      </aside>
      {{>body}}

      <!-- FOOTER -->
      <footer class="footer">
        <!-- UPPER FOOTER -->
        <div class="row upper-footer">
          <div class="large-8 columns">
            <ul class="medium-block-grid-5">
              <li class="footer-item">  
                <div class="topics-tag-normal live">
                  <a href="#">Live</a>
                </div>
                <p>Donec viverra sed pulvinar feugiat leo non consectetur.</p>
              </li>
              <li class="footer-item">  
                <div class="topics-tag-normal learn">
                  <a href="#">Learn</a>
                </div>
                <p>Donec viverra sed pulvinar feugiat leo non consectetur.</p>
              </li>
              <li class="footer-item">  
                <div class="topics-tag-normal innovate">
                  <a href="#">Innovate</a>
                </div>
                <p>Donec viverra sed pulvinar feugiat leo non consectetur.</p>
              </li>
              <li class="footer-item">  
                <div class="topics-tag-normal engage">
                  <a href="#">Engage</a>
                </div>
                <p>Donec viverra sed pulvinar feugiat leo non consectetur.</p>
              </li>
              <li class="footer-item">  
                <div class="topics-tag-normal opinion">
                  <a href="#">Opinion</a>
                </div>
                <p>Donec viverra sed pulvinar feugiat leo non consectetur.</p>
              </li>
            </ul>
          </div>
          <!-- NEWSLETTER SIGN-UP -->
          <div class="large-4 columns newsletter left">
            <h6>Newsletter Sign-up</h6>
            <form>
              <div class="row collapse">
                <div class="small-8 columns">
                  <input type="text" placeholder="Enter Email Address">
                </div>
                <div class="small-4 columns">
                  <a href="#" class="button postfix">Sign-up</a>
                </div>
              </div>
            </form>
          </div>

        </div>
        <!-- /UPPER FOOTER -->
        <!-- LOWER FOOTER -->
        <div class="row">
          <div class="medium-12 columns">
            <hr>
          </div>
        </div>

        <div class="row lower-footer">
          <div class="medium-2 columns">
            <ul class="social-icon-links inline-list">
              <li><a href="#"><img src="assets/images/social-twitter.svg"></a></li>
              <li><a href="#"><img src="assets/images/social-facebook.svg"></a></li>
              <li><a href="#"><img src="assets/images/social-google-plus.svg"></a></li>
            </ul>
          </div>
          <div class="medium-10 columns">
            <ul class="inline-list">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Legal Notes</a></li>
              <li><a href="#">Report Trademark Abuse</a></li>
            </ul>
            <p class="disclaimer">Portions of this content are ©2014 by individual mozilla.org contributors. Content available under Creative Commons licence.</p>
          </div>
        </div>

      </footer>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
    </div>
  </div>
  <script src="{{assets}}js/all.js"></script>
</body>
</html>
