<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/css/app.css" />
    <link href='http://fonts.googleapis.com/css?family=Karma:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <script src="{{assets}}/js/modernizr.js"></script>
  </head>
  <body>

  {{>body}}
  
  <script src="{{assets}}/js/all.js"></script>
  </body>
</html>