div.post-content
	blockquote
		position: absolute
		left: 100%
		right: -14rem
		margin-left: 2rem
		padding: 2rem 0
		border: 1px dotted #ddd
		p
			margin: 0; padding: 0
	blockquote, blockquote p
		font-size: 1.1875rem
		letter-spacing: .03125rem
		color: #005da5
		border-width: 1px 0