@font-face
	font-family: 'Karma'
	font-style: normal
	font-weight: 300
	src: url('fonts/Karma/Karma-Light.ttf')

@font-face
	font-family: 'Karma'
	font-style: normal
	font-weight: 400
	url('fonts/Karma/Karma-Regular.ttf')

@font-face
	font-family: 'Karma'
	font-style: normal
	font-weight: 500
	src: url('fonts/Karma/Karma-Medium.ttf')

@font-face
	font-family: 'Fira Sans'
	font-style: normal
	font-weight: 300
	src: url('fonts/Fira_Sans/eot/FiraSans-Light.eot')
	src: local('Fira Sans Light'),
		url('fonts/Fira_Sans/eot/FiraSans-Light.eot') format('embedded-opentype'),
		url('fonts/Fira_Sans/woff/FiraSans-Light.woff') format('woff'),
		url('fonts/Fira_Sans/ttf/FiraSans-Light.ttf') format('truetype')

@font-face
	font-family: 'Fira Sans'
	font-style: normal
	font-weight: 400
	src: url('fonts/Fira_Sans/eot/FiraSans-Regular.eot')
	src: local('Fira Sans Regular'),
		url('fonts/Fira_Sans/eot/FiraSans-Regular.eot') format('embedded-opentype'),
		url('fonts/Fira_Sans/woff/FiraSans-Regular.woff') format('woff'),
		url('fonts/Fira_Sans/ttf/FiraSans-Regular.ttf') format('truetype')

@font-face
	font-family: 'Fira Sans'
	font-style: normal
	font-weight: 700
	src: url('fonts/Fira_Sans/eot/FiraSans-Bold.eot')
	src: local('Fira Sans Bold'),
		url('fonts/Fira_Sans/eot/FiraSans-Bold.eot') format('embedded-opentype'),
		url('fonts/Fira_Sans/woff/FiraSans-Bold.woff') format('woff'),
		url('fonts/Fira_Sans/ttf/FiraSans-Bold.ttf') format('truetype')

@font-face
	font-family: 'Fira Sans'
	font-style: italic
	font-weight: 400
	src: url('fonts/Fira_Sans/eot/FiraSans-Italic.eot')
	src: local('Fira Sans Regular Italic'),
		url('fonts/Fira_Sans/eot/FiraSans-Italic.eot') format('embedded-opentype'),
		url('fonts/Fira_Sans/woff/FiraSans-Italic.woff') format('woff'),
		url('fonts/Fira_Sans/ttf/FiraSans-Italic.ttf') format('truetype')

Karma = "Karma", "Fira Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
Fira = "Fira Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
