@font-face
	font-family: 'Karma'
	font-style: normal
	font-weight: 300
	src: url('fonts/Karma/Karma-Light.ttf')

@font-face
	font-family: 'Karma'
	font-style: normal
	font-weight: 400
	url('fonts/Karma/Karma-Regular.ttf')

@font-face
	font-family: 'Karma'
	font-style: normal
	font-weight: 500
	src: url('fonts/Karma/Karma-Medium.ttf')

@font-face
	font-family: 'Fira Sans'
	font-style: normal
	font-weight: 300
	src: url('fonts/Fira_Sans/FiraSans-Light.ttf')

@font-face
	font-family: 'Fira Sans'
	font-style: normal
	font-weight: 400
	src: url('fonts/Fira_Sans/FiraSans-Regular.ttf')

@font-face
	font-family: 'Fira Sans'
	font-style: normal
	font-weight: 700
	src: url('fonts/Fira_Sans/FiraSans-Bold.ttf')

@font-face
	font-family: 'Fira Sans'
	font-style: italic
	font-weight: 400
	src: url('fonts/Fira_Sans/FiraSans-Italic.ttf')

Karma = "Karma", "Fira Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
Fira = "Fira Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif