body.modal-open
	overflow: hidden
	height: 100%

body#modal
	overflow: hidden

div.modal
	width: 100%
	height: 100%
	position: fixed
	z-index: 9999
	top: 0
	left: 0
	display: none
	overflow-y: auto
	overflow-x: hidden
	background-color: white
	&.open
		display: block