$button-size = 1.7rem

ul.share-buttons
    overflow: hidden
    li
        position: relative
        height: $button-size; width: $button-size
        overflow: hidden
        float: left
    button
        position: absolute
        top: 0; left: 0
        margin: 0; padding: 0
        height: $button-size; width: $button-size
        z-index: 1
        border: none
    iframe
        width: $button-size!important; height: $button-size!important;
    button.twitter-button
        background: #fff url('../images/icon_twitter.png') no-repeat center center; background-size: $button-size
    button.facebook-button
        background: #fff url('../images/icon_facebook.png') no-repeat center center; background-size: $button-size
    button.googleplus-button
        background: #fff url('../images/icon_googleplus.png') no-repeat center center; background-size: $button-size

ul.share-ratios
    height: 100px
    width: 68px
    position: relative
    margin-bottom: 2px
    li
        width: $button-size
        position: absolute
        height: 0
        bottom: 0
        &:nth-child(1)
            left: 0
        &:nth-child(2)
            left: ($button-size * 1)
        &:nth-child(3)
            left: ($button-size * 2)
        div.bar
            background-color: #333
            height: 100%
            margin: 0 4px