div.sharing,
button-size = 1.7rem,
ul.share-buttons {
  overflow: hidden;
}
div.sharing li,
button-size = 1.7rem li,
ul.share-buttons li {
  position: relative;
  height: button-size;
  width: button-size;
  display: inline-block;
  overflow: hidden;
}
div.sharing button,
button-size = 1.7rem button,
ul.share-buttons button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: button-size;
  width: button-size;
  display: inline-block;
  z-index: 1;
  border: none;
}
div.sharing iframe,
button-size = 1.7rem iframe,
ul.share-buttons iframe {
  width: button-size !important;
  height: button-size !important;
}
div.sharing button.twitter-button-override,
button-size = 1.7rem button.twitter-button-override,
ul.share-buttons button.twitter-button-override {
  pointer-events: none;
  background: #fff url("../images/icon_twitter.png") no-repeat center center;
  background-size: button-size;
}
div.sharing button.facebook-button-override,
button-size = 1.7rem button.facebook-button-override,
ul.share-buttons button.facebook-button-override {
  pointer-events: none;
  background: #fff url("../images/icon_facebook.png") no-repeat center center;
  background-size: button-size;
}
div.sharing button.googleplus-button-override,
button-size = 1.7rem button.googleplus-button-override,
ul.share-buttons button.googleplus-button-override {
  pointer-events: none;
  background: #fff url("../images/icon_googleplus.png") no-repeat center center;
  background-size: button-size;
}
ul.share-ratios {
  height: 100px;
  width: 68px;
  position: relative;
  margin: 10px;
}
ul.share-ratios li {
  display: inline-block;
  width: button-size;
  background-color: #333;
  position: absolute;
  height: 0;
  bottom: 0;
}
ul.share-ratios li:nth-child(1) {
  left: 0;
}
ul.share-ratios li:nth-child(2) {
  left: 24px;
}
ul.share-ratios li:nth-child(3) {
  left: 48px;
}
