// FEATURED ARTICLES
.featured {
	h2 {
		font-size: rem-calc(36);
		color: #ccc;
		text-align: center;
		line-height: 1.2;
		font-weight: 300;
		padding-bottom: 1rem;
	}
	p {
		font-size: rem-calc(45);
	}
}

.featured-articles-item {
	position: relative;
	@media #{$small-only} {
		li { padding-bottom: 2.5rem; }
	}
	h3 {
		margin-top: 1rem;
		line-height: 1.2;
	}
	.owl-carousel & {
	  margin: 0.5rem;
	}
}

// RECENT ARTICLES
.recent-articles {
	h4 {
		color: #ccc;
		padding-bottom: 1rem;
	}
}
.recent-articles-item {
	// @include clearfix;
	position: relative;
	padding-bottom: .75rem;
	padding-top: 1.5rem;
	margin-bottom: 0rem;
	overflow: hidden;
	border-bottom: 1px dotted #ddd; 
	&:first-child { padding-top: 0; }
	&:last-child { border-bottom: 0; }
	
	a { display: block; }
	.thumbnail {
		float: left;
		margin: 0 1.5rem 1rem 0;
		@media #{$small-only} { width: 30%;}
	}
	
	p {
		margin-bottom: 1rem;
		line-height: 1.4;
	}
}
.recent-articles-image {
	position: absolute;

}	
.recent-articles-title {
	&.image-article{
	padding-left: 6.5rem;
	}
	&.image-article-160{
	padding-left: 11rem;
	}
}

// FROM AROUND THE WEB
.from-around-web {
	background-color: #f5f5f5;
	padding: 2rem 1rem .3rem 1rem; 
	@media #{$small-only} { margin-bottom: 3rem;}
	h3 { line-height: 1.4; }
	h6 { 
		@include fira;
		@include tag;
		color: #999;
		letter-spacing: initial;
		font-size: .875rem;
	}
	li {
		padding-top: 1.2rem;
		padding-bottom: .8rem;
		border-bottom: 1px dotted #ddd; 
		&:last-child { border: none; }
		@media #{$small-only} { border-bottom: none}
	}

}

