// HOME
.date-home {
 	position: absolute;
 	right: 1.2rem;
 	top: 1.5rem;
 	color: #ccc;

 	@media #{$small-only} {
		margin-top: 50px;
		left: 1rem;
	}
}

.hero-wrapper {
	background-color: black;
	position: relative;
	margin-bottom: 2rem; 
}

.hero-image{
	background:url('../images/hero.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	padding: 70px 20px;
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 0
}
div.hero-post {
	@media #{$large-up} { padding: 140px 300px 140px 75px; }
	@media #{$medium-only} { padding: 140px 180px 140px 38px; }
	@media only screen and (min-width: 640px) and (max-width: 890px) { padding: 140px 40px 140px 38px;}
	position: relative;
	z-index: 1;
	position: relative;
	h1 {
		color: #FFF;
		&:hover {
			color: #E8E8E8;
		}
	}
	p {
		color: #FFF;
		font-size: rem-calc(18);
		line-height: 1.4;
	}
	.topics-tag-normal {
		position: absolute;
		top: 0px;
		left: 0;
		a {
			padding: 1rem .875rem 0.75rem 1rem;
			font-size: .85rem;
			height: 43px;
			display: block;
			&:before { 
				top: 0px; 
				right: -13px;
				border-width: 22px 14px 0 0;
			}
			&:after { 
				top: 21px;
				right: -13px; 
				border-width: 22px 0 0 14px;
			}
		}
	}
	.lower {
		border-top: 1px dotted #999;
		margin-top: 1rem;
		
		@include clearfix;
		.social {
			@media #{$medium-up} {
				position: relative;
				width: 18%;
				float: left;	
			}	
		}
		.hero-headline-description {
			margin-top: 30px;
			@media #{$medium-up} {
				padding-left: 2rem;
				border-left: 1px dotted #999; 
				position: relative;
				float: left;
				width: 75%;
			}
		}
	}	
	
}
