.body {
	margin-top: 1rem !important;
}
.overlay.header{
	h1 { 
		margin-top: 4rem;
		text-align: center; 
		@media #{$small-only} { 
			margin-top: 5.5rem;
		}
	}
}

.in-context-diagram {
	position: relative;
	height: 250px;
	@media #{$small-only} { 
		height: auto;
		display: inline-block;
	}
	margin: 3rem 0;
	a { color: #333; display: block; }
	@include clearfix;
	.one, .two, .three, .four, .five {
		background: #f5f5f5;
		border: 2px solid #efefef;
		border-radius: 50%;
		text-align: center;
		display: inline-block;
		position: absolute;
		@include tag;
		opacity: 0.65;
	}
	.one {
		width: 10rem;
		height: 10rem;
		left: 0%;
		top: 5%;
		a { margin-top: 4.5rem; }
	}
	.two {
		width: 13rem;
		height: 13rem;
		left: 15%;
		top: 5%;
		@media #{$small-only} { 
			top: 30%;
			left: 5%;
		}
		a { margin-top: 6rem; }
	}
	.three {
		width: 16rem;
		height: 16rem;
		left: 35%;
		top: -5%;
		a { margin-top: 7.5rem; }
	}
	.four {
		width: 11rem;
		height: 11rem;
		right: 15%;
		top: 0%;
		a { margin-top: 5rem; }
	}
	.five {
		width: 9rem;
		height: 9rem;
		right: 0%;
		top: 10%;
		a { margin-top: 4rem; }
	}
.one, .two, .three, .four, .five {
	@media #{$small-only} { 
		position: static;
		width: 10rem;
		height: 10rem;
		display: block;
		line-height: 10rem;
		a { margin: 0;}
	}
}
.two, .three, .four, .five {
	@media #{$small-only} { 
		margin-top: -60px;
	}	
}
	@media #{$small-only} { 
		.two, .four {
			margin-left: 70px;
		}
	}

}
.socialmedia-issues {
	margin-top: 0;
	margin-bottom: 2.5rem;
	.social {
		margin: 0 auto;
	}
}

@media #{$small-only} {
	.in-context-diagram {
		&.diagram-story {
			left: 25%;
		}
	}
}




