// STORY
.date-story {
	margin-top: -2px;	
	margin-bottom: 0px;
	display: inline;
	float: left;
	padding-right: 1rem;
	@media #{$small-only} {
		display: block;
		width: 100%;
	}
}
.deck {
	font-size: rem-calc(22);
	color: #888;
	line-height: 2.2rem;
	margin-top: 2rem;
	@media only screen and (min-width: 0px) and (max-width: 1024px) {
		clear: both;
	}
}
div.post-content > p:first-child:first-letter {
	float: left;
	margin: 1.5rem .6rem .4rem 0rem;
	color: $innovate-color;
	font-size: rem-calc(58);
	font-family: 'Karma';
	line-height: 1rem;

}
@-moz-document url-prefix() {
	div.post-content > p:first-child:first-letter {
		margin: .5rem .6rem .4rem 0rem;
	}
}
.takeaways {
	background-color: #f5f5f5;
	border-left: 3px solid;
	margin-bottom: 2rem; 
	margin-left: 0; 
	&.innovate { border-color: $innovate-color; }
	li {	
		margin: 0;
		padding: 0;
		&:last-child p { border: none; }
	}
	p {
		color: #888;
		margin: 1.5rem 0; 
		border-right: 1px dotted #ccc;
		padding: 0 1rem 0 2rem;
		@media #{$small-only} {
			border-right: none;
		}
	}
}

// BLOCKQUOTE
.story-blockquote-container {
	position: relative;
}
.story-blockquote {
	position: absolute;
	left: 820px;
	top: -64px;
	blockquote{
		width: 200px;
		font-size: rem-calc(19);
		letter-spacing: rem-calc(.5);
		border-left: 0px; 
		padding: 0 0 .5rem 0;
		margin-bottom: 0;
		@media #{$small-only} {
	position: static;
	width: 100%;
		}
	}
	img {
		width: 16px;
	}
	@media #{$small-only} {
		position: static;
	}
}
.story-header {
	position: relative;
	margin: 1rem 0; 
	.social {
		position: absolute;
		bottom: 0px;
		right: 100%;

		@media only screen and (min-width: 0px) and (max-width: 1024px) {
			position: relative;
			right: auto;
			float: left;
			margin-bottom: 1rem;
		}
	}

	.post-thumbnail-caption {
		text-align: right;
		color: #999;
		font-size: .6rem;
		position: absolute;
		width: 100%;
	}
.author-icon {
	position: absolute;
	right: 100%;
	top: 100%;
	margin-right: 2rem;
	width: 7.9rem;
	img {
		width: 100%;
		border: 1px solid #ddd;
	}
	@media only screen and (min-width: 0px) and (max-width: 1024px) {
		position: static;
		float: left;
		margin-right: 0;
	}
	&.with-sponsor {
		@media #{$small-only} {
			position: static;
			@include clearfix;
			clear: both;
			float: none;
			width: 100%;
			padding-top: 1rem;
			.sponsor {
				float: left;
				width: 7.9rem;
			}
			.author {
				float: left;
				margin-left: 2rem;
				margin-top: 2.35rem;
				width: 7.9rem;
			}
		}
		@media #{$medium-only} {
			position: static;
			@include clearfix;
			float: none;
			width: 100%;
			padding-top: 0rem;
			.sponsor {
				float: left;
				width: 7.9rem;
			}
			.author {
				float: left;
				margin-left: 2rem;
				margin-top: 2.35rem;
				width: 7.9rem;
			}
		}
	}
}
	p {
		margin-top: .5rem;
		margin-bottom: .5rem;
		font-size: .8rem;
	}
}
.author-bio-image {
    @media #{$small-only} { width: 100%; }
    img {padding-bottom: 2rem;}
}
.author-bio {
    padding-bottom: 3rem;
    @media #{$small-only} { padding-bottom: 1rem; }
    p {
    	margin-bottom: 0
    }
    ul { 
    	padding: .5rem 0; 
    }
    .tag-list {
    	float: none;
    }
}	

// STORY IMG
.story-img-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin-bottom: 2rem;
	&:hover > .story-img-hover {
		visibility: visible;
	}
}
.story-img-hover {
	position: absolute;
	top: 0rem;
	left: 0rem;
	visibility: hidden;
	background: #000;
	opacity: .25;
	height: 100%;
	width: 100%;
	margin-bottom: 0rem;
	ul{
		position: relative;
		display: block;
		margin: 0 auto;
		width: 200px;
		top: 45%;
	}
	li {
		padding: 0 2rem;
		margin-left: 0rem;
	}
	img {
		opacity: 1;
		width: 1.5rem;
		&:hover {
			opacity: .7;
		}
	}
}
.img-caption {
	margin-top: -1.3rem;
	font-size: .8em;
	letter-spacing: .02rem;
	color: #999;
}

// COMMENTS
li.comments-item {
	position: relative;
	margin-bottom: 1.5rem;
	ul.children {
		margin-left: 1.5rem;
	}
	a.comment-reply-link {
		font-size: .7rem;
		margin-left: 1rem;
		text-decoration: underline;
	}
	div.pending-approval-message {
		background-color: #FFFABD;
		border: 1px solid darken(#FFFABD, 20%);
		color: darken(#FFFABD, 80%);
		padding: .3rem .5rem;
		margin-bottom: .5rem;
	}
}
.comments-item-pic{
	position: absolute;
}
.comments-item-comment {
	padding-left: 80px;
	p.info { 
		margin-bottom: 0.5rem; line-height: 1; 
	}
	.name {
		@include karma;
		font-size: 1.25rem;
		margin-right: .5rem;
	}
	textarea {
		height: 6em;
	}
	.button {
		padding-bottom: .75rem;
	}
}

// ARROWS
.arrow-left {
	width: 30px;
	height: 160px;
	background-color: #ccc;
	position: absolute;
	left: 0rem;
 	top: 25rem;
 	display: block;
	
	&:hover > .arrow-hover{
		visibility: visible;
	}
 	
 	a {
		height: 160px;
		display: block;
 	}
 	img {
 		padding: 4.2rem 0rem;
 		text-align: center;
 		width: 16px;
 		margin-left: 5px;
 	}
}
.arrow-right {
	width: 30px;
	height: 160px;
	background-color: #ccc;
	position: absolute;
	right: 0rem;
 	top: 25rem;
 	display: block;
	
	&:hover > .arrow-hover{
		visibility: visible;
	}

 	a {
		height: 160px;
		display: block;
 	}
 	img {
 		padding: 4.2rem 0rem;
 		text-align: center;
 		width: 16px;
 		margin-left: 8px;
 	}
}

.arrow-hover{
	background: #f5f5f5;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 200px;
	height: 160px;
	padding: 1.5rem;

	&.left{
		left: 100% !important;
	}
	&.right{
		right: 100%;
	}

}

// SHARE DROPDOWN
.f-dropdown {
	padding: 1rem;
	margin-top: 1rem;
	&.open, &::before{
	 	background-color: #f5f5f5;
	 	border: 0px ;
	 	p {
			margin-bottom: .1rem;
			font-size: .8rem;
		}
		@media #{$small-only} { visibility: hidden;}
	}
	&::after {
		border-color: transparent transparent #f5f5f5 transparent;
		@media #{$small-only} { visibility: hidden;}
	}
}

