ul.share-buttons {
  overflow: hidden;
}
ul.share-buttons li {
  position: relative;
  height: 1.7rem;
  width: 1.7rem;
  overflow: hidden;
  float: left;
}
ul.share-buttons button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 1.7rem;
  width: 1.7rem;
  z-index: 1;
  border: none;
}
ul.share-buttons iframe {
  width: 1.7rem !important;
  height: 1.7rem !important;
}
ul.share-buttons button.twitter-button {
  background: #fff url("../images/icon_twitter.png") no-repeat center center;
  background-size: 1.7rem;
}
ul.share-buttons button.facebook-button {
  background: #fff url("../images/icon_facebook.png") no-repeat center center;
  background-size: 1.7rem;
}
ul.share-buttons button.googleplus-button {
  background: #fff url("../images/icon_googleplus.png") no-repeat center center;
  background-size: 1.7rem;
}
ul.share-ratios {
  height: 100px;
  width: 68px;
  position: relative;
  margin-bottom: 2px;
}
ul.share-ratios li {
  width: 1.7rem;
  position: absolute;
  height: 0;
  bottom: 0;
}
ul.share-ratios li:nth-child(1) {
  left: 0;
}
ul.share-ratios li:nth-child(2) {
  left: 1.7rem;
}
ul.share-ratios li:nth-child(3) {
  left: 3.4rem;
}
ul.share-ratios li div.bar {
  background-color: #333;
  height: 100%;
  margin: 0 4px;
}
div.post-content blockquote {
  position: absolute;
  left: 100%;
  right: -14rem;
  margin-left: 2rem;
  padding: 2rem 0;
  border: 1px dotted #ddd;
}
div.post-content blockquote p {
  margin: 0;
  padding: 0;
}
div.post-content blockquote,
div.post-content blockquote p {
  font-size: 1.1875rem;
  letter-spacing: 0.03125rem;
  color: #005da5;
  border-width: 1px 0;
}
section.search-results {
  margin-top: 2rem;
}
